# directories
venv*/
data/
notebooks/
old*
trained_models/
imgs/*
.idea/
experiments/
.vscode/
*backup*/
archive*
log*
pretrained_models
test/
extra/
# Byte-compiled / optimized / DLL files
*.egg-info
*pyc
__pycache__/
*.py[cod]
*.egg*
.ipynb_checkpoints/
.DS_Store

# files

# extensions
*.npy
*.pyc
*.log
#*.sh
*.tar
*.zip
*.tar
*.sublime*
*.swp
*.out
*.pt

# placeholders to keep directories
!.keep
